a, td, select, input, textarea { font-family: 'lucida sans unicode', 'lucida grande'; }
a:link, a:hover, a:active, a:visited { color: #000; }
select, input, textarea { font-size: 1.0em; }
input.tiny { width: 45px; }
input.small { width: 100px; }
input.large { width: 145px; }
select.small { width: 106px; }
textarea.large { width: 175px; }
td { font-size: 0.6em; }

.column {
	float: left;
	margin: 5px 5px 5px 5px;
	width: 200px;
}

.big {
	float: left;
	margin: 5px 5px 5px 5px;
	width: 400px;
}

.main {
	float: left;
	padding: 5px 5px 5px 5px;
}

span.clear {
	display: block;
	clear: both;
}

.page {
	padding: 10px 10px 10px 10px;
}

.login {
	float: right;
	margin-left: 10px
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.title, a:link.title, a:hover.title, a:active.title, a:visited.title {
	font-family: 'georgia';
	font-size: 7em;
	letter-spacing: -0.04em;
	color: #76A700;
	text-decoration: none;
}

.button {
	float: right;
	display: block;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
	background-image: url(left.gif);
	background-repeat: no-repeat;
}

.button span {
	display: block;
	padding: 5px 10px 6px 10px;
	line-height: 14px;
	text-transform: uppercase;
	background-image: url(right.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.arrow {
	float: right;
	display: block;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
	background-image: url(left.gif);
	background-repeat: no-repeat;
}

.arrow span {
	display: block;
	padding: 5px 18px 6px 10px;
	line-height: 14px;
	text-transform: uppercase;
	background-image: url(arrow.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.button.overflow {
	overflow: hidden;
}

.button .file {
	position: absolute;
	right: 0;
	height: 25px;
	cursor: pointer !important;
}