body { background-color: #eee; }
a, td, select, input, textarea { font-family: 'lucida sans unicode', 'lucida grande', 'helvetica'; }
a:link, a:hover, a:active, a:visited { color: #000; }
select, input, textarea { font-size: 1.0em; }
table { border: 0px; }
input.tiny { width: 45px; }
input.small { width: 100px; }
input.large { width: 140px; }
select.small { width: 65px; }
select.medium { width: 106px; }
select.large { width: 140px; }
input.mail { width: 140px; }
select.day { width: 40px; }
select.month { width: 49px; }
select.year { width: 51px; }
select.country { width: 84px; }
select.label { width: 100px; }
textarea.large { width: 195px; }
td { font-size: 0.6em; cursor: default; }

.white { background-color: #fff; }

img {
	border: none;
	/*vertical-align: bottom;*/
}

.rounded {
	display: block;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

h1 {
	font-family: 'georgia';
	font-size: 7em;
	letter-spacing: -0.04em;
	color: #76a700;
	text-decoration: none;
	font-weight: normal;
}

h2 {
	font-family: 'georgia';
	font-size: 4em;
	padding: 0px;
	border: 0px;
	margin: 0px;
	color: #76a700;
	letter-spacing: 0.3pt
}

.column {
	float: left;
	margin: 5px;
	width: 190px;
}

.big {
	float: left;
	margin: 5px;
	width: 400px;
}

.article {
	position: absolute;
	background-color: #fff;
	padding: 5px;
	margin: 5px;
	visibility: hidden;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-radius-shadow: 4px;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
}

.single {
	background-color: #fff;
	padding: 10px;
	margin: 5px 10px 10px 5px;
}

.comment {
	float: left;
	padding: 5px;
}

span.clear {
	display: block;
	clear: both;
}

.page {
	margin: 10px;
	cursor: default;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
}

.title, a:link.title, a:hover.title, a:active.title, a:visited.title {
	font-family: 'georgia';
	font-size: 7em;
	letter-spacing: -0.04em;
	color: #76a700;
	text-decoration: none;
}

.button {
	float: right;
	display: block;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
	padding-right: 6px;
	background-image: url(right.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.button span {
	display: block;
	padding: 5px 3px 6px 9px;
	line-height: 14px;
	text-transform: uppercase;
	background-image: url(left.gif);
	background-repeat: no-repeat;
}

.arrow {
	float: right;
	display: block;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
	padding-right: 12px;
	background-image: url(arrow.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

.arrow span {
	display: block;
	padding: 5px 6px 6px 9px;
	line-height: 14px;
	text-transform: uppercase;
	background-image: url(left.gif);
	background-repeat: no-repeat;
}

.left {
	float: left;
}

.button.overflow {
	overflow: hidden;
}

.button .file {
	position: absolute;
	height: 25px;
	cursor: pointer !important;
}